body{
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

@mixin mobile {
  @media screen and (max-width: 480px) {
    @content;
  }
}
@mixin tablet {
  @media screen and (max-width: 768px) {
    @content;
  }
}
@mixin laptop {
  @media screen and (max-width: 1200px) {
    @content;
  }
}



.formContainer{
  background-color: #efefef;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  .formWrapper{
    position: relative;
    padding: 80px 80px;
    border-radius: 66% 34% 26% 74% / 60% 22% 78% 40%;
    box-shadow: inset 20px 20px 20px rgba(0, 0, 0, 0.05), 25px 35px 20px rgba(0, 0, 0, 0.05), 25px 30px 30px rgba(0, 0, 0, 0.05), inset -20px -20px 25px rgba(255, 255, 255, 0.9);
    transition: 0.4s;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

    &:hover{
      border-radius: 50%;
    }
    form{
      display: flex;
      flex-direction: column;
      gap: 15px;

      .input{
        padding: 12px 16px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 50px;
        outline: none;
      &::placeholder{
        color: rgb(175, 175, 175);
      }
      }

      .choose-file{
        padding: 5px;
        cursor: pointer;
        background-color: transparent;
        text-align: center;
        border-radius: 50px;
      }

      label{
        display: flex;
        align-items: center;
        gap: 10px;
        color: #8da4f1;
        font-size: 12px;
        cursor: pointer;

        img{
          width: 32px;
        }
      }

      button{
        background: crimson;
        color: white;
        padding: 10px;
        border-radius: 50px;
        font-weight: 600;
        border: none;
        cursor: pointer;
      }
    }

      p{
       color: #5d5b8d;
       font-size: 12px;
       margin-top: 10px;
      }
  }
}

.home{
  background-color: #ffffff;
  height: 100vh;
  overflow: hidden;

  .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    width: 100%;
    background-color: #8d5b76;

    img{
      padding-left: 50px;
      width: 150px;
    }
    button{
      background-color: transparent;
      font-size: 24px;
      border: none;
      color: #defffa;
      cursor: pointer;
      border: 2px solid transparent;
      border-radius: 20px;
      padding: 8px 16px;
      margin-right: 50px;
      transition: 0.5s;

      &:hover{
        border: 2px solid white;
        padding: 8px 16px;
        border-radius: 20px;
      }
    }
  }

  .container{
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
    @include tablet{
      width: 100%;
    }
    
  }

  .sidebar{
    background-color: rgb(233, 255, 255);
    flex: 1;
    border-right: 1px solid rgba(25, 12, 75, 0.2);
    @include tablet{
      position: relative;
    }

    .navbar{
      display: flex;
      align-items: center;
      background-color: transparent;
      height: 50px;
      margin-top: 10px;
      padding: 20px 20px;
      justify-content: space-between;
      color: #272727;

      .logo{
        font-weight: 600;
        @include tablet{
          display: none;
        }
      }

      .user{
        display: flex;
        align-items: center;
        gap: 10px;

        span{
          font-size: 25px;
          font-weight: 800;
        }
  
      }

      img{
        background-color: #ddddf7;
        height:65px;
        width: 65px;
        border-radius: 50%;
        border: 2px solid rgb(36, 36, 36);
        object-fit: cover;
      }

      button{
        background-color: transparent;
      font-size: 24px;
      border: none;
      color: #a9b1f8;
      cursor: pointer;
      border: 2px solid transparent;
      border-radius: 20px;
      transition: 0.5s;

      &:hover{
        color: crimson;
      }
        @include tablet{
          position: absolute;
          bottom: 10px;
        }
      }

      
    }
    .search{
      border-bottom: 1px solid rgba(173, 173, 173, 0.5);
      padding: 0 30px;
    .searchForm{
      padding: 20px 0;

      input{
        background-color: #9affe7;
        border: 2px solid rgba(0, 0, 0, 0.05);
        outline: none;
        color: #000;
        width: 85%;
        font-size: 18px;
        padding: 20px 30px;
        border-radius: 50px;

        &::placeholder{
          color: rgb(113, 113, 113);
        }
      }
    }

      

    }
    .userChat{
      padding: 10px 30px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
      color: rgb(23, 23, 23);
      cursor: pointer;
      transition: 0.5s;
      border-radius: 50px 0 50px 0;
      border-bottom: 3px solid rgba(178, 74, 74, 0.15);
      &:hover{
        background-color: #9affe7;
        border-radius: 50px 0 50px 0;
        border-bottom: 3px solid rgba(178, 74, 74, 0.15);
      }

      .userImg{
        display: flex;
        align-items: center;
        justify-content: center;
      }
      
      img{
        height: 50px;
        width: 50px;
        margin-right: 10px;
        border-radius: 50%;
        object-fit: cover;
        border: 1px solid rgba(173, 173, 173, 0.5);
      }

      .userChatInfo{
        span{
          font-size: 22px;
          font-weight: 600;
        }
        p{
          font-size: 16px;
          color:rgb(86, 86, 86);
          margin: 5px 0 0;
        }
      }
      
    }
  }
  .chat{
    flex:2.2;

    .chatInfo{
      height: 50px;
      background-color: rgb(25, 12, 75);
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 30px;
      font-size: 24px;
      font-weight: 600;
      color: rgb(255, 255, 255);

      .chatProfile{
        display: flex;
        justify-content: center;
        align-items: center;
        img{
          width: 50px;
          object-fit: cover;
          height: 50px;
          margin-right: 15px;
          border-radius: 50%;
        }
        span{
         font-size: 24px;
        }
      }
    }
    .chatIcons{
      display: flex;
      gap: 10px;
    }

    img{
      height: 24px;
      cursor: pointer;
    }
  }
  .messages{
    background-color: #ffffff;
    padding: 10px 20px;
    height: calc(100% - 185px);
    overflow-y: scroll;

    .message{
      display: flex;
      gap: 20px;
      margin-bottom: 20px;

      .messageInfo{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: gray;
        font-weight: 300;

        img{
          width: 40px;
          height: 40px;
          border-radius: 50%;
          object-fit: cover;
        }
      }

      .messageContent{
        max-width: 70%;
        display: flex;
        flex-direction: column;
        gap: 10px;

        p{
          background-color: rgb(221, 221, 221);
          padding: 10px 20px;
          font-size: 20px;
          border-radius: 0 20px 20px 20px;
          max-width: max-content;
        }
        img{
          
          width: 30%;
          height: auto;
        }
      }

      &.owner{
        flex-direction: row-reverse;

        .messageContent {
          align-items: flex-end;
          p {
            background-color: crimson;
            color: white;
            font-size: 20px;
            border-radius: 20px 0px 20px 20px;
          }
        }
      }
    }
  }

  .input{
    height: 50px;
    background-color: #ffffff;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    input{
      width: 70%;
      border: none;
      height: 65px;
      padding: 0 25px;
      border-radius: 50px 0 0 50px;
      outline: none;
      font-size: 18px;
      color: #fcfcfc;
      background-color: #190c4b;
    
      &::placeholder{
        color: rgb(146, 146, 146);
      }
    }

    .send{
      display: flex;
      background-color:#190c4b;
      height: 65px;
      padding-right: 20px;
      align-items: center;
      gap: 10px;
      border-radius: 0 50px 50px 0;

      img{
        height: 24px;
        cursor: pointer;
      }

      button{
        border: none;
        padding: 10px 15px;
        color: #190c4b;
        border-radius: 10px;
        font-weight: 700;
        background: #ffffff;
        margin-left: 10px;
        cursor: pointer;
        &:hover{
          background: #99fde8;
        }
      }
    }

  }

}
